.hi {
  font-family: Ubuntu;
  background-image: linear-gradient(
    to right,
    rgb(0, 64, 255),
    rgb(212, 201, 223)
  );
 
  padding-left: 550px;
}
/* .fl {
  padding-left: 70px;
}
.lef {
  padding-left: 500px;
}
.ri {
  padding-right: 20px;
} */
